/* .image {
    max-width: 1280px;
    margin: 0 auto;
}
.relative {
    position: relative;
    
}
.absolute {
    position: absolute;
    top: 40px;
    text-align: center;
}
.image {
    height: 400px;
} */

.image {
    max-width: 1280px;
    margin: 0 auto;
    height: 400px;
}

.relative {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.absolute {
    position: absolute;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Optional: background for better visibility */
    border: 1px solid #ccc; /* Optional: border for better visibility */
}
.absolute2 {
    position: absolute;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7); /* Optional: background for better visibility */
    border: 1px solid #ccc; /* Optional: border for better visibility */
}
